<div class="container">
    <div>
        <form name="form" (ngSubmit)="f.form.valid && onSubmit()" #f="ngForm" novalidate class="example-container">
            <mat-form-field>
                <input matInput placeholder="Email" type="email" name="email" required [(ngModel)]="userData.email">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="First Name" required type="text" name="firstName" [(ngModel)]="userData.firstName">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Last Name" required type="text" name="lastName" [(ngModel)]="userData.lastName">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Age" type="number" name="age" required [(ngModel)]="userData.age">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Phone" type="tel" name="phone" required [(ngModel)]="userData.phone">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="City" type="text" name="city" required [(ngModel)]="userData.city">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Pin Code" name="pincode" type="text" required [(ngModel)]="userData.pincode">
            </mat-form-field>
            <mat-form-field>
                <input matInput placeholder="Password" name="password" type="password" required [(ngModel)]="userData.password">
            </mat-form-field>
            <button class="btn" color="accent" mat-raised-button>Sign Up</button>
        </form>
        <!-- <mat-form-field>
            <textarea matInput placeholder="Textarea"></textarea>
        </mat-form-field>

        <mat-form-field>
            <mat-select placeholder="Select">
                <mat-option value="option">Option</mat-option>
            </mat-select>
        </mat-form-field> -->
    </div>
</div>